<h5 class="ui top attached primary header">
	Novo check in
</h5>
<div class="ui attached primary segment">
	<div class="ui form">
		<div class="ui grid">
			<div class="ui row">
				<div class="eight wide column">
					<div class="field">
						<label>Data/hora de saída</label>
						<input type="text" name="dataHora1" placeholder="Data/hora de saída">
					</div>
				</div>
				<div class="eight wide column">
					<div class="field">
						<label>Data/hora de saída</label>
						<input type="text" name="dataHora2" placeholder="Data/hora de saída">
					</div>
				</div>
			</div>
			<div class="ui row">
				<div class="eight wide column">
					<div class="field">
						<label>Pessoa</label>
						<input type="text" name="efwef" placeholder="Pessoa" />
					</div>
				</div>
				<div class="eight wide column add-flex-display">
					<div class="field align-v-checkbox">
						<checkbox>Possuí veículo</checkbox>
					</div>
				</div>
			</div>
			<div class="ui row">
				<div class="sixteen wide column">
					<button class="ui button primary">Salvar</button>
				</div>
			</div>
		</div>
	</div>
</div>