.ui.icon.header {
    text-align: center;
}
.header {
    width: 100%;
    display: block;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    margin: 0em;
    padding: 1.25rem 1.5rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}