<div class="ui top fixed menu">
	<div class="item">
		<img src="/assets/logo.svg">
	</div>
</div>

<div id="container" class="ui container">
	<div class="ui row">
		<div class="sixteen wide column">
			<button class="ui primary button" (click)="modalCmp.openModal()">
				Incluir pessoa
			</button>
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="ui row">
		<div class="sixteen wide column">
			<app-new-check-in></app-new-check-in>
		</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="ui row">
		<div class="sixteen wide column">
			<app-queries></app-queries>
		</div>
	</div>
</div>
<mr-modal size="mini">
	<modal-header>Nova Pessoa</modal-header>
	<modal-content>
		<app-form-people (onComplete)="onInsertPeople($event)" (onError)="onErrorInsertPeople($event)" (onCancel)="modalCmp.closeModal()"></app-form-people>
	</modal-content>
</mr-modal>