/* You can add global styles to this file, and also import other style files */
.ui.attached.header {
    background: #2185D0 !important;
    border-color: #2185D0 !important;
    color: #FFFFFF;
    font-weight: normal;
}
.ui.attached.segment {
    border-color: #2185D0 !important;
    border-radius: 0em 0em 0.28571429rem 0.28571429rem !important;
}
.ui.button {
    font-weight: normal !important;
}
.text-right {
    text-align: right;
}