.header {
    font-size: 1.3em;
    display: block;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    margin: 0em;
    padding: 1.25rem 1.5rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    line-height: 1.28571429em;
    font-weight: bold;
}